pipeline/Dynamic_Pipeline.json
{
	"name": "Dynamic_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "AllFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_array",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "git_hub",
									"type": "DatasetReference",
									"parameters": {
										"File_name": {
											"value": "@item().File_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink",
									"type": "DatasetReference",
									"parameters": {
										"Folder_name": {
											"value": "@item().Folder_name",
											"type": "Expression"
										},
										"File_name": {
											"value": "@item().File_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "raw_data_validation",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Meta_data_info",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://github.com/AnkitaSingh87/Netflix-Data-Project/tree/main/Raw%20Data"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Meta_data_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "store_value",
					"value": {
						"value": "@activity('Meta_data_info').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_array": {
				"type": "array",
				"defaultValue": [
					{
						"Folder_name": "netflix_cast",
						"File_name": "netflix_cast.csv"
					},
					{
						"Folder_name": "netflix_category",
						"File_name": "netflix_category.csv"
					},
					{
						"Folder_name": "netflix_countries",
						"File_name": "netflix_countries.csv"
					},
					{
						"Folder_name": "netflix_directors",
						"File_name": "netflix_directors.csv"
					}
				]
			}
		},
		"variables": {
			"store_value": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-11T09:59:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}